<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhidian.amber.mi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态的权限控制 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

    <!--  小米权限  -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />

    <application
        android:name="com.application.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.demo.WelComeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.MainActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.demo.LoginActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.demo.SetRoleActivity"
            android:screenOrientation="landscape" >
        </activity>

        <meta-data
            android:name="appId"
            android:value="appId:2882303761517304496" >
        </meta-data>
        <meta-data
            android:name="appKey"
            android:value="appKey:5891730455496" >
        </meta-data>
        <meta-data
            android:name="screenOrientation"
            android:value="screenOrientation:0" >
        </meta-data>
        <meta-data
            android:name="ZD_APPID"
            android:value="ZD_APPID:150204878739" >
        </meta-data>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>
